@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 2480px !important;
}
.img{
    border-radius: 10%;
    border: 4px solid #d1d1d1;
}
.name{
    font-family: 'Russo One', sans-serif;
}
.bg-color{
    background-color: #f3f3f3;
    height: 35px;
    line-height: 35px;
}
.bg-color address{
    font-size: 14px;
}
.bg-color .fas, .fab{
    color: #28ae71;
    padding-right: 5px;
}
.bg-color a{
    color: #000;
    text-decoration: none;
}
.title{
    color: #28ae71;
    font-weight: 600;
    letter-spacing: 1px;
}
/* .title::after{
    content: " ";
    height: 3px;
    width: 65%;
    border-radius: 100%;
    position: absolute;
    background-color: rgba(40, 174, 113, 0.2);
    margin-top: 0.75%;
    margin-left: 1.5%;
} */
.sub-title{
    font-size: 17px;
}
time{
    padding: 0 2px;
    font-size: 14px;
}
time .far, span a .fas{
    color: rgba(40, 174, 113, 0.5);
    font-size: 14px;
}
.line{
    height: 10px;
    width: 100%;
    opacity: 0.3;
    margin-left: -5%;
}
p span a{
    text-decoration: none;
    margin-left: 15px;
    color: rgb(114, 114, 114);
}
.txt-date{
    font-size: 14px;
}
.strengths{
    font-size: 12px;
    line-height: 13px;
    color: rgb(136, 136, 136);
    /* padding-left: 25px; */
}
.sub-title{
    color: rgb(83, 83, 83);
}
.sub-title .fas{
    color: rgba(40, 174, 113, 0.5);
    padding-right: 5px;
}
.starts .fas, .far{
    color: #28ae71;
    font-size: 12px;
    padding: 2px;
}